@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mounish's Vidrent</h1>
    <p class="lead">Vidrent is a video rental app especially designed for the employees in the store</p>
    <p><a href="http://facebook.com/mounish.eceb" class="btn btn-primary btn-lg">Learn more about me &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           First signup if you dont thave account and then you can access the website as an employee
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get New MOvies</h2>
        <p>If you want to get new movies just notifie the employer or email at info@Vidrent.com</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>This website is hosted in Azures Which is the most powerful web hosting tool from microsoft.</p>
        <p><a class="btn btn-default" href="http://facebook.com/mounish.eceb">Learn more &raquo;</a></p>
    </div>
</div>